Repository iamay0bami/k8s-votinapp-cicd: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-2.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: worker
  azure-pipelines-2.yml: any of: result
  azure-pipelines.yml: any of: vote

Updated updateKubernetesManifests.sh
  vote/updateKubernetesManifests.sh
Due: azure-pipelines.yml

Added .gitattributes
  .gitattributes
Due: none

Deleted .gitattributes
  .gitattributes
Due: none

Updated azure-pipelines.yml
  azure-pipelines.yml
Due: none

Update vote image to tag 52
  k8s-specifications/vote-deployment.yaml
Due: none

Updated vote-deployment.yaml
  k8s-specifications/vote-deployment.yaml
Due: none

Update vote image to tag 56
  k8s-specifications/vote-deployment.yaml
  vote/updateKubernetesManifests.sh
Due: azure-pipelines.yml

Update vote image to tag 57
  k8s-specifications/vote-deployment.yaml
Due: none

Update vote image to tag 58
  k8s-specifications/vote-deployment.yaml
Due: none

Update vote image to tag 59
  k8s-specifications/vote-deployment.yaml
Due: none

Updated app.py
  vote/app.py
Due: azure-pipelines.yml

Update vote image to tag 60
  k8s-specifications/vote-deployment.yaml
Due: none

Added updateKubernetesManifests.sh
  worker/updateKubernetesManifests.sh
Due: azure-pipelines-1.yml

Updated azure-pipelines-1.yml
  azure-pipelines-1.yml
Due: none

Updated updateKubernetesManifests.sh
  worker/updateKubernetesManifests.sh
Due: azure-pipelines-1.yml

Update worker image to tag 65
  k8s-specifications/worker-deployment.yaml
  worker/updateKubernetesManifests.sh
Due: azure-pipelines-1.yml

Update worker image to tag 66
  k8s-specifications/worker-deployment.yaml
Due: none

Updated worker-deployment.yaml
  k8s-specifications/worker-deployment.yaml
Due: none

Added updateKubernetesManifests.sh
  result/updateKubernetesManifests.sh
Due: azure-pipelines-2.yml

Updated azure-pipelines-2.yml
  azure-pipelines-2.yml
Due: none

Update worker image to tag 69
  k8s-specifications/worker-deployment.yaml
  result/updateKubernetesManifests.sh
Due: azure-pipelines-2.yml

Update result image to tag 70
  k8s-specifications/result-deployment.yaml
Due: none

Updated result-deployment.yaml
  k8s-specifications/result-deployment.yaml
Due: none

Update worker image to tag 71
  k8s-specifications/worker-deployment.yaml
Due: none

Revise README for Azure Voting App project
  README.md
Due: none

Update comment for clarity in README.md
  README.md
Due: none

Update comment for clarity in azure-pipelines.yml
  azure-pipelines.yml
Due: none

Update comment for clarity in Azure Pipelines YAML
  azure-pipelines-1.yml
Due: none

Update comment for clarity in pipeline script task
  azure-pipelines-2.yml
Due: none
